/* body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjp7lTxmRp38HpTUtbrj-s5y4M2U-RHzPGVQ&usqp=CAU) ;
    background-size: cover;
} */
.content{
    display: flex;
}
.left{
    width: 600px;
    height:auto;
    margin-right: 50px;
    margin-top: 30px;
}
.right{
    margin-top: 20px;
    margin-left: 50px;
}
.avatar{
    width: 90%;
    padding-top: 71px;
}
.style{
    size: 15px;
    color: black;
    font-size: 20px;
    font: lighter;
}
table, th,td{
    border: 1px solid black;
}
table{
    border-collapse:collapse;
}